div.knjtabs ul{
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}

div.knjtabs ul li{
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}

div.knjtabs ul li a{
	text-decoration: none;
	color: #000;
	display: block;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}

div.knjtabs ul li a:hover{
	background: #ccc;
}

div.knjtabs ul li.active, div.knjtabs ul li.active a:hover{
	background: #fff;
	border-bottom: 1px solid #fff;
}

div.knjtabs div.knjtabs_container{
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	background-color: #fff;
	padding: 6px;
	clear: both;
}